# Secrets and configuration
*secrets.yaml
!configs/examples/*_secrets.yaml
.env

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Test files
test_harness 